html {
    font-family: 'Courier New', Courier, monospace;
}

.copyright {
    text-align: right;
    font-weight: bold;
}

.utilites {
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}

.utilites ul {
    padding-left: 10px;
}

.utilites ul li {
    display: inline-block;
    font-weight: bold;
}

.utilites ul li a {
    text-decoration: none;
}

.title h2 {
    text-align: center;
    font-size: 30px;
}

.title h3 {
    text-align: center;
    font-size: 20px;
}

.navigation {
    font-size: 20px;
}

.navigation ol li {
    margin-bottom: 8px;
}

.navigation li a {
    text-decoration: none;
    font-weight: bold;
}

#foot {
    text-align: center;
}

#foot a {
    text-decoration: none;
}